body {
    margin:  0;
    padding: 25px;
}

.first {
    
    padding: 10px;
    width: 100%;
    border: 5px solid black;
    box-sizing: border-box ;
}

.long {
    
    display: inline-block;
    
    background-color: purple;
    height: 150px;
    width: 50px;
}

.big {
    margin: 0 50px;
    display: inline-block;
    background-color: green;
    height: 200px;
    width: 400px;
}

.circle {
    margin: auto;
    display: inline-block;
    background-color: cyan;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.second {
    width: 100%;
    border: 5px dotted black;
    padding: 50px;
    box-sizing: border-box;
    margin-top: 25px; 
}

.shadow {
    margin: auto;
    padding: 10px;
    background-color: lightgoldenrodyellow;
    box-shadow: 5px 10px;
    height: 200px;
    width: 100%;
}


.third {
    margin: auto;
    padding: 100px;
    height: 30vh;
    width: 50%;
    box-shadow: 3px 3px 5px 6px #ccc;
    box-sizing: border-box ;
}

p {
    width: 100%;
    padding: 10px;
    text-align: center;
    color: blue;
    letter-spacing: 10px;
  }