body { 
    
    margin: 0;
    padding: 0;
    }

.header {
    background-color: #D8D8D8;
    height: 100px;
    width: 100%;
    padding: 25px;
    box-sizing: border-box;
}
.small {
    width: 50px;
    height: 50px;
    background-color: #4A90E2;
    box-sizing: border-box;
}

.content {
    background-color: #fff;
    height: 200px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    padding: 50px;
    box-sizing: border-box;
}

.color1 {
    background-color:  #4A90E2;
    height: 100px;
    width: 100%;
    box-sizing: border-box;
}

.color2 {
    background-color:    #50E3C2;
    height: 100px;
    width: 100%;
    box-sizing: border-box;
}

.color3 {
    background-color:   #B8E986;
    height: 100px;
    width: 100%;
    box-sizing: border-box;
}

.color4 {
    background-color:    #F8E71C;
    height: 100px;
    width: 100%;
    box-sizing: border-box;
}
